
.aboutText {
    float: left;
    position: relative;
    max-width: 45%;
    max-height: 71vh;
    overflow: hidden;
    margin: 120px 0 0 1%;
    border-left: 5px double #000;

}

.boldText {
    max-height: 0px;
    font-weight: bold;
    margin: 0;
}

.bioText {
    font-family: 'Josefin Sans', sans-serif;
    font-size: small;
    width: 90%;
    margin: 15px 15px 15px 40px;
    padding: 0px;
    line-height: 2
}

@media only screen and (max-width: 980px) {

    .aboutText {
        max-width: 100%;
        float: none;
        border: none;
    }

    .bioText {
        line-height: 1.3;
        margin: 5%;
        width: 90%;
    }



}