.header {
    display: block;
}

.portfolioItems {
    width: 60vw;
    text-align: center;
}

.bottom {
    height: 320px;
    width: 100%;
    margin: 5px;
    padding: 5px;
}

.bottom .topScrollBtn {
    width: 80%;
    margin-left: 10%;
}

.bottom .topScrollBtn .topScrollBtnImg {
    filter: invert(100%);
}

.bottom .topScrollBtn #clickToScrollUp {
    color: white;
}

@media only screen and (max-width: 980px) {

    .topScrollBtn {
        padding-top: 200px;
    }
 
 }

 @media only screen and (max-width: 900px) {

    .topScrollBtn {
        padding-top: 150vh;
    }
 
 }

 @media only screen and (max-width: 700px) {

    .topScrollBtn {
        padding-top: 202vh;
    }
 
 }

 @media only screen and (max-width: 360px) {

    .topScrollBtn {
        padding-top: 250vh;
    }
 
 }