@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

.title {
    font-size: xx-large;
    margin: 5%;
    padding: 20px 0px 20px 0px;
    /* font-family: "Josefin Sans", cursive; */
    font-family: 'Crimson Text', serif;
    width: 90%;
    text-align: center;
}

.postTitle {
    padding: 15px;
}

.postContent {
    padding: 15px;
}

.postImage {
    padding: 15px;
}