.header {
    padding: 15px;
    opacity: .9;
    background-color: black;
    position: relative;
    width: 100vw;
    margin-bottom: 20px;
}

.wildway {
    width: 100%;
    margin-top: 20px;
}

.wildway p {
    font-family: 'Crimson Text', serif;
    margin-top: 20px;
    margin-bottom: 50px;
    letter-spacing: 20px;
    font-size: large;
    color: white;
    opacity: 1;
    text-align: center;
    text-indent: 20px;
}

.webDesign {
    width: 100vw;
    margin-top: -30px;

}

.webDesign p {
    font-family: 'Crimson Text', serif;
    margin-left:12.5px;
    font-size: small;
    color: white;
    text-align: center;
    letter-spacing: 15px;
}

.line {
    margin: 35px;
    height: 1px;
    width: 96vw;
    background: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgb(255, 0, 0) 50%, rgba(0,0,0,1) 90%);
}

@media only screen and (max-width: 980px) {

    .header {
        display: block;
        opacity: 1;
        position: absolute;
        padding: 15px 0px 25px 0px;
        
    }

    .webDesign {
        width: 75%;
        margin: auto;
        opacity: 100;
    }

    .line {
        width: 70vw;
        margin: auto;
        opacity: 100;

    }

    .wildway p {
        margin: 5px;
        width: 75%;
        margin: auto;
        opacity: 100;

    }

}

@media only screen and (max-width: 340px) {

    .wildway {
        width: 75%;
    }
    .wildway p {
        font-size: smaller;
    }
    .webDesign {
        font-size: smaller;
    }
}