@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');


.journalPost {
    width: 80%;
    margin: 2% 10% 2% 10%;
    font-family: 'Libre Caslon Display', serif;
    color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

.journalPost .postTitle {
    font-weight: 500;
    text-transform: uppercase;
    font-style: italic;
}

.journalPost p {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    line-height: 2;

}


@media only screen and (max-width: 380px) {

    .journalPost {
        padding-top:30px;
        margin-bottom: -100px;
        height: 300px
    }
}